*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.app-container {
  width: 100%;
  height: 100vh;
  max-width: 600px;
  background-color: #dee7d9;
  border-radius: 0;
  overflow: auto;
}

.topBar {
  background-color: #293234;
  width: 100%;
  padding: 2rem 3rem 1rem 3rem;
  box-sizing: border-box;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  .return-button {
    position: relative;
    right: 20px;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: rgba(177, 198, 168, 1);
  padding: 0 1rem;
  border-radius: 999px;
}

.search-bar input {
  flex-grow: 1;
  border: none;
  background: transparent;
  font-size: 1rem;
  outline: none;
}

.search-bar button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #2f3a2f;
  cursor: pointer;
}

#filter-container {
  margin-top: 0rem;
  padding: 1.25rem 0 .5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;

  .chip {
    padding-right: 1.7rem;
    border: 1px solid #293234;
  }

  .chip:hover {
    border: 1px solid white;
  }
}

.content {
  padding: 1rem 3rem 3rem 3rem;
  font-size: 0.9rem;
}

.content-header {
  margin-bottom: 0;
}

.content h2 {
  font-size: 1rem;
}

.section-header {
  display: flex;
}

.info-icon:hover,
.info-icon-price:hover {
  cursor: help;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.chip {
  padding: 0.4rem 1.1rem;
  background-color: rgba(177, 198, 168, 1);
  border: none;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 999px;
  transition: background-color 0.1s, color 0.1s;
}

.chip:hover {
  background-color: #a5b88c;
}

.chip.active {
  background-color: #49754B;
  color: #E8F9EF;
}

.allergy.active {
  background-color: #CC604F;
}

.range-section {
  margin-top: 2rem;
  margin-bottom: 3rem;

  h2 {
    margin-bottom: 1.5rem;
  }

  #min-max {
    display: flex;
    justify-content: space-between;
  }

  .range-slider {
    display: flex;
    position: relative;
    height: 36px;

    .slider-track {
      position: absolute;
      background-color: #ccc;
      height: 2px;
      top: 15px;
      left: 0;
      right: 0;
      border-radius: 9px;
    }

    .slider-range {
      position: absolute;
      background-color: #2f3a2f;
      height: 5px;
      top: 15px;
      border-radius: 999px;
    }

    input[type="range"] {
      position: absolute;
      width: 100%;
      pointer-events: none;
      appearance: none;
      background: transparent;
      top: 0;
      height: 36px;
    }

    input[type="range"]::-webkit-slider-thumb {
      pointer-events: auto;
      appearance: none;
      position: relative;
      top: -2px;
      left: -2px;
      height: 20px;
      width: 20px;
      background: #293234;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  #price-spread {
    display: flex;
    justify-content: space-between;
  }
}

.search-exec {
  width: 100%;
  display: flex;
  justify-content: right;

  .chip {
    background-color: #49754B;
    color: white;
    border: 1px solid #a5b88c;
  }

  .chip:hover {
    border: 1px solid black;

  }
}

.search-chip.active {
  background-color: #CC604F;
  color: #E8F9EF;
}

.recipe-view {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  padding: 0 3rem;
  width: 100%;
  box-sizing: border-box;

  #recipe-topbar {
    display: flex;
    justify-content: space-between;

    .select-wrapper {
      position: relative;
      display: inline-block;
    }

    .mirror {
      position: absolute;
      visibility: hidden;
      white-space: nowrap;
      font: inherit;
      padding: 0;
    }

    .search-filter {
      font-size: 95%;
      color: #293234;
      width: auto;
      min-width: 50px;
      border: 1.5px solid black;
      border-radius: 20px;
      padding: .25rem 0 .25rem 1rem;
      appearance: none;
    }

    .search-filter:hover {
      cursor: pointer;
    }
  }
}

#recipe-list {
  margin-top: 1rem;
}

.recipe {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 1rem;
  background-color: #293234;
  color: #E8F9EF;

  .recipe-info {
    flex: 3;
    display: flex;
    flex-direction: column;
    min-width: 0;

    .recipe-text {
      flex: 1;
      padding-left: 1.25rem;
      font-size: 120%;

      h2 {
        padding-right: 8.5rem;
      }
    }

    .recipe-icons {
      flex: 1;
      padding: 0 0 1rem 1rem;
      align-content: end;
    }
  }

  .recipe-filters {
    flex: 1;
    padding: 0 1rem 1rem 0;
    font-size: 85%;
    display: flex;
    flex-direction: column;
    min-width: 0;

    .profit {
      display: flex;
      justify-content: right;
      text-decoration: underline;
    }

    .recipe-chips {
      margin-top: 1rem;
      flex-direction: column;
      text-align: right;

      .chip {
        background-color: #49754B;
        margin-bottom: .4rem;
        color: #E8F9EF;
        font-size: 104%;
        pointer-events: none;
      }
    }

    .recipe-chips .chip:nth-child(2) {
      background-color: #CC604F;
    }
  }
}

.recipe:hover {
  cursor: pointer;
}

#recipe-list .recipe:nth-child(2) {

  .recipe-filters {
    .recipe-chips {
      .chip {
        background-color: #49754B;
      }
    }
  }
}

.return-button {
  color: white;
  background-color: #293234;
  border-style: none;
}

.return-button:hover {
  color: rgb(185, 185, 185);
  cursor: pointer;
}

.recipe-details-view {
  padding: 0 3rem;

  .recipe {
    margin-top: 1.5rem;
    margin-bottom: 0;
    padding: 0 .5rem;
    width: 100%;
    box-sizing: border-box;

    .recipe-info {

      .recipe-text {

        h2 {
          font-size: 180%;
          margin-bottom: 0;
        }

        p {
          font-size: 79%;
          padding-top: .5rem;
        }

        button {
          padding-bottom: 1.75rem;
        }
      }

      .recipe-icons {
        flex: 1;
        padding: 0 0 2.25rem 1.25rem;
        align-content: end;
      }
    }

    .recipe-filters {

      .recipe-chips {
        height: 100%;
        align-content: end;
        padding-bottom: 1rem;
      }
    }
  }

  .recipe:hover {
    cursor: default;
  }
}

.recipe-variations {
  background-color: rgba(177, 198, 168, 1);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  margin: 0 1.25rem 1rem 1.25rem;
  padding: .5rem 0 .9rem 2rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.portion-spinner-wrapper {
  display: flex;
  align-items: center;
  gap: .25rem;
  margin: 1.5rem 0 0 0;
}

.portion-button {
  background-color: transparent;
  color: rgba(41, 50, 52, 1);
  border-style: none;
  font-size: xx-large;
}

.portion-button:hover {
  cursor: pointer;
}

.portion-button:active {
  color: gray;
}

.portion-spinner {
  height: 26px;
  width: 28px;
  text-align: center;
  border-style: none;
  font-weight: 550;
  font-size: 90%;
}

.portion-spinner::-webkit-outer-spin-button,
.portion-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.toggle-details {
  background-color: #293234;
  color: #E8F9EF;
  border: none;
  padding: .75rem 2rem .75rem .5rem;
  width: 100%;
  margin: 1rem 0 0 0;
  font-size: .95rem;
  font-weight: 550;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-details:hover {
  background-color: #3a4547;
}

.recipe-details {
  background-color: #dee7d9;
  color: #293234;
  width: 100%;
  padding: 1rem 0rem;
  margin: 0 0 2rem 0;
  border-radius: 5px;
  font-size: 0.95rem;
}

.recipe-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recipe-details li {
  background-color: rgba(100, 107, 106, 0.17);
  width: 100%;
  color: #000000;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.recipe-instructions {
  margin: 2rem 0 4rem 0;
  font-size: 0.95rem;
  line-height: 1.5;
  color: #293234;
}

.recipe-instructions h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #293234;
  margin-top: 2rem;
}

.instructions-box {
  background-color: #B1C6A8;
  color: #000000;
  padding: .5rem 2rem;
  border-radius: 20px;
  margin: 1rem 0rem;
  font-size: 0.95rem;
  line-height: 1.6;
  white-space: pre-line;
}